---
title: A static site index page
layout: base.njk
---


<div class="container">
        <h1>The Home Page</h1>
        <div class="content">
            <p>A static site home page</p>
        </div>
        <div class="sub-content">With love ❤ !</div>
</div>
<script src='/js/script.js'></script>