---
title: Daily Briefing
layout: base.njk
pagination: 
    data: news
    size: 1
    alias: news
permalink: /{{ news.country }}/index.html
---


<div class="container">
        <h1>The Home Page</h1>
        <div class="content">
            <p>A static site home page</p>
        </div>
        <div class="sub-content">With love ❤ !</div>

        <ul>
        {% for article in news.articles  %}
            <li>
                <h2> <a href='{{article.url}}'>{{article.title}}</a></h2>
                <span> {{article.source.name}} - {{article.publishedAt}} </span>
            </li>
        {% endfor %}
        </ul>
        
</div>
<script src='/js/script.js'></script>